/* hero_section */
/* nav_bar */
.bgColor {
    background-color: rgba(128, 0, 0, 0.856);
}

#navText {
    color: aliceblue;
    font-size: larger;
}

/* background-img */
.bg-slide {
    height: 860px;
    width: 100%;
    background-size: cover;
    background-position: center;
}

/* img */
.slide1 {
    background-image: url(./src/img/s1Bg_1.jpg);
}

.slide2 {
    background-image: url(./src/img/s1Bg_2.jpg);
}

.slide3 {
    background-image: url(./src/img/s1Bg_3.jpg);
}

.slide4 {
    background-image: url(./src/img/s1Bg_4.jpg);
}

.slide5 {
    background-image: url(./src/img/s1Bg_5.jpg);
}

#smallIndicators button {
    width: 8px;
    height: 8px;
    border-radius: 50%;
}


/* text */
#carouselBg {
    position: relative;
}

#carouselBg {
    position: relative;
}

.textPosition {
    position: absolute;
    top: 40%;
    left: 0;

    width: 100%;
    height: 20%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;
    color: white;

    background: rgba(0, 0, 0, 0.4);
    z-index: 10;
    padding: 20px;
    pointer-events: none;
}

/* section_2 */

 .s2Img {
  position: relative;
  overflow: hidden;
}

.s2Img img {
  width: 100%;
  height: 350px;
  object-fit: cover;
  display: block;
}

.overLay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;

  background: rgba(0,0,0,0.3);
  color: white;

  padding: 10px;

  opacity: 0;
  transition: 0.3s;
  z-index: 2;
}

.s2Img:hover .overLay {
  opacity: 1;
}

.s2Img:hover img {
    transform: scale(1.1);
}

/* section3 */

/* sectiton4 */

/* section5 */
.s5Textcolor{
    color: rgba(128, 0, 0, 0.856);
}

#btn-color{
    background-color: rgba(128, 0, 0, 0.856);
    color: aliceblue;
}

/* footr */
#footer-icon img{
    width: 20px;
    height: 20px;
    object-fit: cover;
}